/* what if I am making the wrong calculation */
/* the header is not affected as it is fixed at the top */
/* it's not affected by the grid system */
/* makes sense... */
/* understood? yupyup... */
/* took some deep concentration and effort to solve. */
/* those jarring effects are bullshit.  */
/* doesn't make any sense. */
#exam-page {
  /* set the exam page to the height of the parent container... */
  height: 100%; 
  /* background-color: blue; */
}

#exam {
  /* automatically fixed itself. */
  /* now moving on */
  display: grid; /*grid system here to distribute these stuff... understood? yupyup... thanks.*/ 
  grid-template-rows: 10% 50% 40%;
  padding: 0 12px;
  width: 100%; /*I'ld assume this one is about large screens...*/
  /* background-color: blue; */
  /* this one is also set to the 100^ the height of the parent... */
  height: 100%;
  /* do you see now...  */
}

.header {
  display: flex;
  justify-content: space-between;
  /* let' it be like this. */
  /* background: yellow; */
}

.header h1 {
  font-size: 2em;
  font-style: italic;
  font-family: Caveat;
}
/* as it is now, the controller maintains its position. */
#controller {
  /* background-color: orange; */
  display: grid;
  align-items: end;
  /* background-color: orange; */
}

#examkeys {
  width: 100%;
  max-height: 60px;
  overflow-y: scroll;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
  margin-bottom: 1em;
}
#examkeys::-webkit-scrollbar {
  width: 0px;
}

#numkeys {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-auto-rows: 40px; /**/
  padding: 3px;
  gap: 10px;
}

@media (min-width: 801px) {
  #exam {
    width: 800px;
    margin: auto;
    height: 100%;
    padding: 0 2em 1em;
  }
}

#numkeys::-webkit-scrollbar {
  width: 0px;
}

#numkeys button {
  padding: 0.4em;
}

#control-keys {
  display: flex;
  justify-content: space-between;
}

#control-keys div {
  display: flex;
  gap: 1em;
}

.options {
  margin-top: 1em;
  font-family: Poppins;
}

.options label {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 2px 0;
}

#clock {
  font-size: 1.5em;
  font-family: Anton;
  letter-spacing: 2px;
}

.score {
  font-size: 1.6em;
  font-family: Anton;
  letter-spacing: 3px;
}

.question {
  font-family: Poppins;
  font-size: 1.1em;
}

#question {
  overflow-y: auto;
  /* background-color: aqua; */
  /* why is it changing values? cos I don't understand... */
  /* why in the world is it changing values */
  /* the programming is problematic */
  /* maybe the problem is the  */
  height: 100%;
}

#question::-webkit-scrollbar {
  width: 0;
}

.info {
  margin-bottom: 10px;
}
.remark {
  padding: 2em 0;
  font-family: Poppins, Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}
/* this case is also possible */

.app-light .submit-light {
  background-color: var(--logocolor);
  color: white;
}
.app-light .submit-light:hover {
  background-color: #00796b;
}

.app-dark .submit-dark {
  /* background-color: #c62828; */
  background-color: var(--logocolor);
  color: white;
}

.app-dark .submit-dark:hover {
  background-color: #00796b;
}

.app-light .incorrect-light,
.app-dark .incorrect-dark {
  background-color: #c62828;
  color: white;
}

.app-light .correct-light,
.app-dark .correct-dark {
  background-color: #388e3c;
  color: white;
}

.app-dark .current-numkey {
  background-color: #ffeb3b;
  color: black;
}
/* it's ok like this jare. Thank you */
.app-dark .dark-time {
  color: #c62828;
}

.app-light .light-time {
  color: red;
}

/* .app-dark #score {
  color: #c62828;
} */
/* I think this dark mode is now making sense now. */
/* I love it like this. */

/* colors for score */
.low {
  color: #ff4500;
}
.mid-low {
  color: #ffbf00;
}
.mid-level {
  color: #9acd32;
}
.high-level {
  color: #32cd32;
}
.premium {
  color: #ffd700;
}

/* Makes serious sense. Very ok... */
