.quote {
  font-family: Montserrat, Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  padding: 10px;
  display: grid;
  gap: 10px;
}
.quote h2 {
  font-weight: bold;
}
#to-do {
  margin-top: 4em;
  display: grid;
  gap: 1em;
}

#to-do p {
  font-size: 1.5em;
  display: flex;
  gap: 9px;
}